header {
	background-color: #1C59A7;
	color: white;
	text-align: center;
	height: 80px;
}
#lewy{
	background-color: #3A70B5;
	width: 33%;
	height: 200px;
	float: left;
	
}
#srodkowy{
		background-color: #5A8AC8;
		width: 33%;
		height: 200px;
		float: left;
}
#prawy{
	background-color: #86ACDD;
	text-align: center;
	width: 34%;
	height: 200px;
        float: left;
}
#prawy a{
	background-color: yellow;
	color: blue;
	padding: 10px;
	
}
#dolny{
	background-color: #86ACDD;
	text-align: center;
	height: 300px;
	clear: both;
}
footer {
	background-color: #1C59A7;
	color: white;
}